<h1>Invoices</h1>
<%= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary pull-right' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Date</th>
      <th>Full Name</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Invoice Number</th>
      <th>Status</th>
      <th>Checkout Link</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.created_at.to_date.strftime('%d/%m/%Y') %></td>
        <td><%= "#{invoice.bill_to_surname} #{invoice.bill_to_forename}" %></td>
        <td><%= invoice.bill_to_email %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.currency %></td>
        <td><%= invoice.reference_number %></td>
        <td><%= "#{invoice.decision}" %></td>
        <td>
          <% if invoice.decision == 'pending' %>
            <%= link_to "Checkout link", invoice_confirm_edit_path({auth_token: invoice.auth_token, security_token: invoice.security_token}) %>
          <% else %>
            <%= "#{invoice.decision}" %>
          <% end %>
        </td>
        <td>
          <%# url = invoice_confirm_edit_url({auth_token: invoice.auth_token, security_token: invoice.security_token}) %>
          <%#= hidden_field_tag 'client_url', url, class: 'hidden', id:"bar" %>
          <%#= link_to 'copy url', 'javascript:void(0)', class: 'btn btn-sm btn-primary', data_clipboard_target: "#bar" %>

          <%= link_to 'Show', invoice, class: 'btn btn-sm btn-primary' %>
          <% if invoice.decision == 'rejected' || invoice.decision == 'declined' || invoice.decision == 'other' %>
            <%= link_to 'Reset', reset_invoice_path(invoice), class: 'btn btn-sm btn-success' %>
          <% end %>
          <%= link_to 'Copy', copy_invoice_path(invoice), class: 'btn btn-sm btn-warning' %>
          <%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-sm btn-success' %>
          <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm  btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% content_for(:third_party_js) do %>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<% end %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        })
    });

</script>

