<h1>Invoices</h1>
<%= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary pull-right' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Invoice Number</th>
      <th>Checkout Link</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.customer_firstname %></td>
        <td><%= invoice.customer_lastname %></td>
        <td><%= invoice.customer_email %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.currency %></td>
        <td><%= invoice.reference_number %></td>
        <td>
          <% if invoice.invoice_status == 'pending' %>
            <%= link_to "Checkout link", invoice_confirm_edit_path({auth_token: invoice.auth_token, security_token: invoice.security_token}) %>
          <% else %>
            <%= "#{invoice.invoice_status}" %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Show', invoice, class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-sm btn-success' %>
          <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm  btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


