<h1>Invoices</h1>
<%= link_to 'New Invoice', new_invoice_path, class: 'btn btn-primary pull-right' %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Amount</th>
      <th>Currency</th>
      <th>Invoice Number</th>
      <th>Checkout Link</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.bill_to_surname %></td>
        <td><%= invoice.bill_to_forename %></td>
        <td><%= invoice.bill_to_email %></td>
        <td><%= invoice.amount %></td>
        <td><%= invoice.currency %></td>
        <td><%= invoice.reference_number %></td>
        <td>
          <% if invoice.invoice_status == 'pending' %>
            <%= link_to "Checkout link", invoice_confirm_edit_path({auth_token: invoice.auth_token, security_token: invoice.security_token}) %>
          <% else %>
            <%= "#{invoice.invoice_status}" %>
          <% end %>
        </td>
        <td>
          <%# url = invoice_confirm_edit_url({auth_token: invoice.auth_token, security_token: invoice.security_token}) %>
          <%#= hidden_field_tag 'client_url', url, class: 'hidden', id:"bar" %>
          <%#= link_to 'copy url', 'javascript:void(0)', class: 'btn btn-sm btn-primary', data_clipboard_target: "#bar" %>

          <%= link_to 'Show', invoice, class: 'btn btn-sm btn-primary' %>
          <%= link_to 'Edit', edit_invoice_path(invoice), class: 'btn btn-sm btn-success' %>
          <%= link_to 'Destroy', invoice, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm  btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% content_for(:third_party_js) do %>
    <script src="https://cdn.rawgit.com/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>
<% end %>
<script>
    var clipboard = new Clipboard('.btn');
</script>

