<div class="col-md-3">
  <fieldset class="fieldset-border">
    <legend class="fieldset-border">Invoice details</legend>
    <b>Invoice number:</b> <%= "#{@invoice.reference_number}" %><br>
    <b>Amount:</b>         <%= "#{@invoice.amount}" %><br>
    <b>Currency:</b>      <%= "#{@invoice.currency}" %><br>
  </fieldset>
</div>

<div class="col-md-3">
  <fieldset class="fieldset-border">
    <legend class="fieldset-border">Personal Information</legend>
    <b>First Name:</b> <%= "#{@invoice.customer_firstname}" %><br>
    <b>Last Name:</b>  <%= "#{@invoice.customer_lastname}" %><br>
    <b>Email:</b>      <%= "#{@invoice.customer_email}" %><br>
    <b>Phone:</b>      <%= "#{@invoice.client_phone}" %><br>
  </fieldset>
</div>

<div class="col-md-3">
  <fieldset class="fieldset-border">
    <legend class="fieldset-border">Billing Information</legend>
    <b>Billing Address:</b>   <%= "#{@invoice.bill_address1}" %><br>
    <b>Billing City:</b>      <%= "#{@invoice.bill_city}" %><br>
    <b>Billing Country:</b>   <%= "#{@invoice.bill_country}" %><br>
  </fieldset>
</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

<%= link_to 'Back', invoices_path, class: 'btn btn-default' %>
<%= link_to 'Edit', edit_invoice_path(@invoice), class: 'btn btn-primary' %>


