<%= simple_form_for(@invoice, url: invoice_confirm_confirm_path, method: :put) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs row">
      <div class="col-md-3">
        <fieldset class="fieldset-border">
          <legend class="fieldset-border">Invoice</legend>
          <%= f.input :reference_number, label: 'Invoice Number', disabled: true %>
          <br/>
          <%= f.input :amount, disabled: true %>
          <br/>
          <label>Select currency</label>
          <%= f.currency_select :currency, {}, {}, html_options = {style: "width:100%;", disabled: true} %>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <%= hidden_field_tag :auth_token, params[:auth_token] %>
          <%= hidden_field_tag :security_token, params[:security_token] %>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset class="fieldset-border">
          <legend class="fieldset-border">Personal Information</legend>
          <%= f.input :customer_firstname %>
          <br/>
          <%= f.input :customer_lastname %>
          <br/>
          <%= f.input :customer_email %>
          <br/>
          <%= f.input :client_phone %>
        </fieldset>
      </div>
      <div class="col-md-3">
        <fieldset class="fieldset-border">
          <legend class="fieldset-border">Billing Information</legend>
          <%= f.input :bill_address1 %>
          <br/>
          <%= f.input :bill_city %>
          <br/>
          <!--<%#= f.input :bill_country, style: "width:100%;" %>-->
          <label>Select currency</label>
          <%= f.country_select :bill_country, {}, {style: "width: 100%;"} %>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
        </fieldset>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
<% end %>

