= simple_form_for(@invoice, url: invoice_confirm_confirm_path, method: :put, :defaults => { :input_html => { :class => "input-text-width" } }) do |f|
  = f.error_notification
  = hidden_field_tag :auth_token, params[:auth_token]
  = hidden_field_tag :security_token, params[:security_token]

  .form-inputs.row
    .col-md-4
      %fieldset.fieldset-border
        %legend.fieldset-border Invoice
        = f.input :consumer_id, disabled: true
        = f.input :reference_number, label: 'Invoice Number', disabled: true
        = f.input :amount, disabled: true
        = f.currency_select :currency, {}, {}, html_options = {style: "width:100%;", disabled: true}
        %br
        %br
        - str = "I, the card owner hereby warrants that The source of funds are good, clean and clear, of non-criminal origin, free from any lines and encumbrances, freely transferable and are payable in cash immediately, same day immediate credit upon receipt by the receiving bank. <br/> I, the card Owner also hereby attest and warrant I have never been convicted under, or been the subject of, any investigation with respect to: The Bank Secrecy Act/Anti-Money Laundering (Latest Version); and The Drug Trafficking Act of Pakistan (latest version); and The Criminal Act of Pakistan (latest version); and The Prevention of Terrorism Act of Pakistan (latest version); and The Criminal Justice (International Cooperation) Act of Pakistan (latest version); and The Criminal Justice Act of Pakistan (latest version): and The Electronic Funds Transfer Act Pakistan (latest version). This authorisation is voluntarily and allow the Merchant to transfer funds from my MaterCard / Visa card, under the management of AppsGenii Technologies (Pvt.) Ltd. I do hereby waive / deny my right to file for any claim or demand for any charge back against the amount authorised to be transferred in this Invoice against.".html_safe
        -#= text_area_tag(:terms_condition,
          content = str.html_safe,
            options = {:size =>"38x5" })
        %div.terms_condition_div
          %p
            == I, the card owner hereby warrants that The source of funds are good, clean and clear, of non-criminal origin, free from any lines and encumbrances, freely transferable and are payable in cash immediately, same day immediate credit upon receipt by the receiving bank.
            %br
            == I, the card Owner also hereby attest and warrant I have never been convicted under, or been the subject of, any investigation with respect to:
          %ol
            %li== The Bank Secrecy Act/Anti-Money Laundering (Latest Version); and

            %li== The Drug Trafficking Act of Pakistan (latest version); and

            %li== The Criminal Act of Pakistan (latest version); and

            %li== The Prevention of Terrorism Act of Pakistan (latest version); and

            %li== The Criminal Justice (International Cooperation) Act of Pakistan (latest version); and

            %li== The Criminal Justice Act of Pakistan (latest version): and

            %li== The Electronic Funds Transfer Act Pakistan (latest version).

          %p
            ==This authorisation is voluntarily and allow the Merchant to transfer funds from my MaterCard / Visa card, under the management of AppsGenii Technologies (Pvt.) Ltd.
            %br
            ==I do hereby waive / deny my right to file for any claim or demand for any charge back against the amount authorised to be transferred in this Invoice against.
        %br
        = f.check_box :is_terms_and_conditions_accepted
        == I accept terms & conditions
    .col-md-4
      %fieldset.fieldset-border
        %legend.fieldset-border Billing Information
        = f.input :bill_to_email
        = f.input :bill_to_forename
        = f.input :bill_to_surname
        = f.input :bill_to_address_line1
        = f.input :bill_to_address_city
        = f.input :bill_to_address_postal_code
        = f.input :bill_to_address_state
        = f.country_select :bill_to_address_country
        = f.input :bill_to_phone
    .col-md-4
      %fieldset.fieldset-border
        %legend.fieldset-border Shipping Information
        %br
        = f.check_box :contact_same_as_above, {class: 'contact_same_as'}, true, false
        = f.label :contact_same_as_above, 'Same as billing information?', style: 'display: inline-block;'
        %br
        %br
        %br
        = f.input :ship_to_forename
        = f.input :ship_to_surname
        = f.input :ship_to_address_line1
        = f.input :ship_to_address_city
        = f.input :ship_to_address_postal_code
        = f.input :ship_to_address_state
        = f.country_select :ship_to_address_country
        = f.input :ship_to_phone
  .form-actions
    = link_to 'Back', invoices_path, class: 'btn btn-default'
    = f.button :submit, class: 'btn btn-primary'

