<div class="col-md-3">
  <fieldset class="fieldset-border">
    <legend class="fieldset-border">Invoice details</legend>
    <b>Invoice number:</b> <%= "#{@invoice.reference_number}" %><br>
    <b>Amount:</b>         <%= "#{@invoice.amount}" %><br>
    <b>Currency:</b>      <%= "#{@invoice.currency}" %><br>
  </fieldset>
</div>

<div class="col-md-3">
  <fieldset class="fieldset-border">
    <legend class="fieldset-border">Personal Information</legend>
    <b>First Name:</b> <%= "#{@invoice.customer_firstname}" %><br>
    <b>Last Name:</b>  <%= "#{@invoice.customer_lastname}" %><br>
    <b>Email:</b>      <%= "#{@invoice.customer_email}" %><br>
    <b>Phone:</b>      <%= "#{@invoice.client_phone}" %><br>
  </fieldset>
</div>

<div class="col-md-3">
  <fieldset class="fieldset-border">
    <legend class="fieldset-border">Billing Information</legend>
    <b>Billing Address:</b>   <%= "#{@invoice.bill_address1}" %><br>
    <b>Billing City:</b>      <%= "#{@invoice.bill_city}" %><br>
    <b>Billing Country:</b>   <%= "#{@invoice.bill_country}" %><br>
  </fieldset>
</div>

<form id="payment_confirmation" action="https://testsecureacceptance.cybersource.com/pay" method="post"/>

  <%= hidden_field_tag :bill_to_address_line1, @invoice.bill_address1 %>
  <%= hidden_field_tag :bill_to_address_city, @invoice.bill_city %>
  <%= hidden_field_tag :bill_to_address_country, @invoice.bill_country %>
  <%= hidden_field_tag :bill_to_email, @invoice.customer_email %>
  <%= hidden_field_tag :bill_to_surname, @invoice.customer_firstname %>
  <%= hidden_field_tag :bill_to_forename, @invoice.customer_lastname %>

  <%= hidden_field_tag :access_key, ENV['HBL_ACCESS_KEY_' + ENV['HBL_MODE']] %>
  <%= hidden_field_tag :profile_id, ENV['HBL_PROFILE_KEY_' + ENV['HBL_MODE']] %>
  <%= hidden_field_tag :transaction_uuid, @invoice.transaction_uuid %>
  <%= hidden_field_tag :signed_field_names, @signed_field_names%>
  <%= hidden_field_tag :unsigned_field_names, @unsigned_field_names %>
  <%= hidden_field_tag :signed_date_time, @invoice.signed_date_time %>
  <%= hidden_field_tag :locale, 'en' %>
  <%= hidden_field_tag :transaction_type, @invoice.transaction_type %>
  <%= hidden_field_tag :reference_number, @invoice.reference_number %>
  <%= hidden_field_tag :amount, @invoice.amount %>
  <%= hidden_field_tag :currency, @invoice.currency %>
  <%= hidden_field_tag :signature, @signature %>
  <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
  <%= link_to 'Edit', invoice_confirm_edit_path({auth_token: @invoice.auth_token, security_token: @invoice.security_token}), class: 'btn btn-default' %>
  <input type="submit" id="submit" value="Confirm" class="btn btn-primary" />
</form>


<%#= link_to 'Back', invoices_path %>
